name: Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches-ignore: []
  schedule:
    - cron: '0 0 * * SUN'

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      matrix:
        python: [3.6, 3.7, 3.8, 3.9]
      fail-fast: false

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.X
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: conda 
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install dependencies
      run: |
        conda install -c conda-forge mamba --quiet
        mamba install -c conda-forge --quiet -y --file=requirements.txt --file=requirements_dev.txt
    - name: Install the package itself
      run: |
          pip install .
    - name: Test with pytest
      run: |
        pip install pytest
        pip install pytest-cov
        pytest --cov-report term --cov=fitter 

    - name: coveralls            
      run: |
        pip install coverage
        coveralls --service=github
      env:
          GITHUB_TOKEN: ${{ github.token }}
          
